.responsive{
	width:50%;
	float: left;
}
.responsive .gallery{
	text-align: center;
	float: right;
	margin: auto;
	margin:10px;
	height: 300px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}
.responsive .gallery img{
	width: 100%;
	height: 160px;
}
.responsive .gallery .title{
	font-weight: bold;
	font-size: 18px;
}
.responsive .gallery .price{
	font-size: 15px;
	padding: 8px;
}
.responsive .gallery .btnthemgio
{
	width: 150px;
}

.responsive .gallery:hover
{
	-webkit-box-shadow: -2px 2px 22px 0px rgba(109,117,114,1);
	-moz-box-shadow: -2px 2px 22px 0px rgba(109,117,114,1);
	box-shadow: -2px 2px 22px 0px rgba(109,117,114,1);
	transform: scale(1.01);
	transition: 0.5s;
	cursor: pointer;

}

/*===============chi tiet san pham ===================*/
.chitietsp{
	width:100%;
	margin: 0px;
	padding: 0px;
}
.chitietsp .gallery{
	text-align: center;
	margin: auto;
	margin:10px;
	height: 300px;
	border-width: 1px;
	border-style: solid;
	font-size: 24px;
}
.chitietsp .gallery img{
	width: 50%;
	height: 280px;
	float:left;
	margin: 0px;
	padding: 0px;
}
.chitietsp .gallery .btnthemgio
{
	width: 150px;
}
/*================== end chi tiet san pham =============*/
