.header
{
	background: #2d3246;
}
.logo:hover
{
	transform: scale(1.03);
	transition: 0.3s;
}
.content
{
	background:#eeeeee;
}
.left
{
	list-style: none;
	background:#efeeea;
	color: white;
}
.left li
{
	text-align: center;
	padding: 20px 20px;
	margin-bottom: 10px;
	border-radius:20ox;

}
.left li:hover
{
	background: #f2b468;
	color: 
	cursor: pointer;
	transform: scale(1.03);
	transition: 0.3s;

}
.left a:hover
{
	text-decoration: none;
}
/*====================xem nguoi dung =======================*/

/*==================footer=====================*/
.footer
{
	background:#eeeeee;
	color: inherit;
	text-align: center;
	height: 80px;
}